@charset "UTF-8";

@media screen and (min-width: 768px) {
    menu {
        height: 50px;
        padding-top: 5px;
    }
    menu ul {
        margin: auto;
        width: max-content;
    }
    menu ul li {
        width: 100px;
        margin: 0 5px;
        display: inline-block;

    }
    menu #menu-container {
        display: none;
    }
    main {
        width: 700px;
    }
}